/* CSS Document */

a {
    text-transform: uppercase;
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
    color: blue;
    background-color: greenyellow;
}

li em {
    color: red;
    font-weight: bold
}

ul {
    margin-left: 2cm
}

ul ul {
    text-decoration: underline;
    margin-left: .5cm
}
h1 em{
    color: green;
}
