body {
    background-color: red ;
    font-family: Arial;
}

a {
    color: #f3f6ac;
    text-decoration: none;
}

thead {
    font-size: 20px;
    color: #acb1aa;
}

span.circle {
    border-radius: 50%;
	width: 13px;
	height: 13px;
    display: inline-block;
    background-color: #71b47a;
}

span.alert {
    color: red;
}

td {
    padding: 5px;
    color: #ccc;
}

td.info, td.details {
    font-size: 14px;
}

td.info {
    font-style: italic;
    color: #fff;
}

td.status {
    color: orange;
}