body {
    padding: 0px;
    margin: 0px;
}

table {
    background-color: #585858;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 305px;
    height: 205px;
    text-align: left;
    border-collapse: collapse;
}

a {
    text-decoration: none;
    color: #E8D086;
}

th {
    font-size: 16px;
    font-weight: normal;
    color: gray;
    padding: 5px 5px;
}

td:first-of-type {
    font-style: italic;
    color: white;
    width: 105px;
    padding-left: 4px;
}

#picture {
    background: url("green-light.png") no-repeat left center;
    text-indent: 20px;
}

.gold {
    color: #E8D086;
}

.red {
    color: #FF0026;
    vertical-align: top;
    padding-top: 0px;
}

.grey {
    color: gray;
}

.orange {
    color: orangered;
}